.container{
    display: grid;
    grid-template-columns: 400px 250px 250px;
    grid-template-rows: 250px 250px 250px;
    gap: 20px;
}
.item{
    background-color: palevioletred;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-size: 25px;
    padding: 20px;
}