body{
    background-color:rgb(202, 233, 233);
}
.container{
    display: grid;
    padding: 20px;  
    gap: 10px;
    background-color: white;
    width: 300px;
    border-radius: 6px;
    margin: auto;
    margin-top: 200px;
}
h1{
    text-align: center;
    font-size: 30px;
    margin: 0px;
}
.container input{
    padding: 10px;
}
