.container{
    display: grid;
    width: 280px;
    height: 380px;
    border: solid;
    border-radius: 12px;
    background-color: rgb(32, 32, 32);
    padding: 10px;
    margin: auto;
    margin-top: 100px;
} 
.zero{
    background-color: black;
    color: greenyellow;
    text-align: right;
    font-size: 26px;
    border-radius: 6px;
    padding: 10px;

}
.items{
    display: grid;
    margin-top: 20px;
    grid-template-columns: 60px 60px 60px 60px;
    gap: 13px;
    grid-template-rows: 50px 50px 50px 50px 50px;
}
.item{
    background-color: orange;
    color: white;
    border-radius: 8px;
    border: none;
}
.num{
    border-radius: 8px;
    border: none;
}
.equals{
   width: 134px;
   background-color: green;
}